# Aula 1 - Python em Aplicações Ambientais

Iremos agora instalar a biblioteca que usaremos na próxima aula para importar e analisar nossa série temporal: pandas

Para instalar pacotes aqui, no Jupyter, vamos usar a notação "!", sem aspas, e o comando da instalação.

In [18]:
# Importando o pandas

import pandas as pd

In [20]:
df_MG1 = pd.read_excel(r"C:\PosGraduacao\ENS410064\dados\aula01\MG.xlsx")

In [25]:
df_MG2 = pd.read_excel(r"C:\PosGraduacao\ENS410064\dados\aula01\MG2.xlsx")

In [27]:
df_MG = pd.concat([df_MG1,df_MG2], axis=0)

In [32]:
df_MG.reset_index(drop=True)

,Ano,Mes,Dia,Hora,Minuto,Estacao,codigo,Poluente,Valor,Unidade,Tipo,Testacao,datetime
0,2023,1,1,0,30,Centro_Avenida_do_Contorno,MG_006,CO,0.470000,ppm,Automatica,Referencia,2023-01-01 00:30:00
1,2023,1,1,1,30,Centro_Avenida_do_Contorno,MG_006,CO,0.450000,ppm,Automatica,Referencia,2023-01-01 01:30:00
2,2023,1,1,2,30,Centro_Avenida_do_Contorno,MG_006,CO,0.570000,ppm,Automatica,Referencia,2023-01-01 02:30:00
3,2023,1,1,3,30,Centro_Avenida_do_Contorno,MG_006,CO,0.460000,ppm,Automatica,Referencia,2023-01-01 03:30:00
4,2023,1,1,4,30,Centro_Avenida_do_Contorno,MG_006,CO,0.390000,ppm,Automatica,Referencia,2023-01-01 04:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1524235,2023,12,31,19,30,Veneza,MG_032,SO2,2.618308,ug/m3,Automatica,Referencia,2023-12-31 19:30:00
1524236,2023,12,31,20,30,Veneza,MG_032,SO2,2.618308,ug/m3,Automatica,Referencia,2023-12-31 20:30:00
1524237,2023,12,31,21,30,Veneza,MG_032,SO2,2.618308,ug/m3,Automatica,Referencia,2023-12-31 21:30:00
1524238,2023,12,31,22,30,Veneza,MG_032,SO2,2.618308,ug/m3,Automatica,Referencia,2023-12-31 22:30:00
1524239,2023,12,31,23,30,Veneza,MG_032,SO2,2.618308,ug/m3,Automatica,Referencia,2023-12-31 23:30:00

In [36]:
df_MG['datetime'] = pd.to_datetime(df_MG[['Ano', 'Mes', 'Dia', 'Hora', 'Minuto']].astype(str).agg('-'.join, axis=1), format='%Y-%m-%d-%H-%M')
df_MG = df_MG.set_index('datetime')

In [38]:
df_MG.describe()

,Ano,Mes,Dia,Hora,Minuto,Valor
count,1524240.0,1.524240e+06,1.524240e+06,1.524240e+06,1524240.0,1.303475e+06
mean,2023.0,6.526027e+00,1.572055e+01,1.150000e+01,30.0,2.418899e+01
std,0.0,3.447852e+00,8.796250e+00,6.922189e+00,0.0,3.155411e+01
min,2023.0,1.000000e+00,1.000000e+00,0.000000e+00,30.0,0.000000e+00
25%,2023.0,4.000000e+00,8.000000e+00,5.750000e+00,30.0,6.000000e+00
50%,2023.0,7.000000e+00,1.600000e+01,1.150000e+01,30.0,1.600000e+01
75%,2023.0,1.000000e+01,2.300000e+01,1.725000e+01,30.0,3.155000e+01
max,2023.0,1.200000e+01,3.100000e+01,2.300000e+01,30.0,2.195200e+03

In [ ]:
df_MG.loc(df_MG['Poluente'] == 'SO2']['Valor'])